html{
  scroll-behavior: smooth;
}
body {
  font-family: "Verdana";
  margin: 0px;
  padding: 0px;
}
#header {
  width: 100%;
}
#header img {
  height: 100px;
  padding-right: 20px;
  vertical-align: middle;
}
#navigation {
  padding-top: 100px;
  padding-left: 10%;
}
.nav_link {
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(165, 28, 48);
  height: 55px;
  transition: border .2s;
  display: inline-block;

}
.nav_link:hover {
  cursor: hand;
  border-bottom-style: solid;
  border-bottom-width: 7px;
  border-bottom-color: rgb(165, 28, 48);
}
.content_section {
  padding:25px;
  padding-left: 10%;
  padding-right: 10%;
}
#about {
  background: url("leverett_postcard.png");
  background-size: cover;
  background-position: center;
  height: 400px;
}
#about h1 {
  font-size: 50px;
  color: rgb(165, 28, 48);
}
p {
  font-size: 16px;
}
.section_header {
  font-size: 35px;
  font-weight: bold;
  color: rgb(165, 28, 48);
}
.hr_header {
  border: 3px solid rgb(165, 28, 48);
  width: 100px;
  margin-top:20px;
}
#the_partners {

}
.partner {
  margin: 5px;
  font-size: 15px;
  display:inline-block;
  padding:10px;
}
.partner span {
  display:block;
  padding: 5px;
}
.partner .name {
  font-size: 22px;
  border-bottom-style:solid;
  border-bottom-color: rgb(165, 28, 48);
  border-bottom-width: 1px;
}
.partner .title {
  font-size: 12px;
}
.partner .email {
  font-size: 12px;
}
#strategy_text {
  background-color: rgb(165, 28, 48);
  color: white;
  padding: 20px;
  margin-top:50px;
  font-size:30px;
  line-height: 2;
}
